.profileIntro {
  margin: auto;
  margin-top: 7%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 55%;
  height: 300px;
  padding-top: 2%;
  background: #fcfcfc;
  box-shadow: 0 4px 10px 0 rgb(189 208 223 / 25%);
  margin-bottom: 2px;
  display: grid;
  grid-template-rows: 5fr 1fr 1fr;
  grid-template-areas:
    'userPhoto'
    'userName'
    'userIntro';
}

.userPhoto {
  position: inherit;
  z-index: inherit;
  margin: auto;
  margin-top: -1em;
  width: 180px;
  height: 180px;
  border-radius: 50%;
}

.userName {
  color: #2a00a2;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.75px;
}

.userIntro {
  margin-top: -1%;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.75px;
  color: #4e4b66;
}

.icon {
  position: inherit;
  z-index: inherit;
  color: #2b00a2;
  margin-left: 85%;
  margin-top: 1em;
}

.icon:hover {
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .profileIntro {
    width: 100%;
  }
}
