.offerPage {
  width: 100%;
  height: 100vh;
  background: #f7f7fc;
  display: grid;
  grid-template-rows: 85% auto;
  grid-template-areas:
    'offerBody'
    'ButtonsBar';
}

.offerBody {
  margin: auto;
  width: 55%;
  height: 91%;
  margin-top: 75px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px 0 rgb(189 208 223 / 25%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plant {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
