.container {
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerContainer {
  height: 10%;
  animation: rotation 3s infinite linear;
}

.spinner {
  height: inherit;
  width: inherit;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
