.jobPosition {
  width: 95%;
  padding-left: 1em;
}

.offerTitle {
  color: #2a00a2;
  font-weight: 700;
  font-size: 2em;
  margin-top: 0.25em;
  margin-bottom: 0.5em;
  /* border: 1px solid black; */
}

.headline {
  font-weight: 600;
  font-size: 1.2em;
  color: #4e4b66;
}
