.acceptedOffer {
  position: inherit;
  z-index: inherit;
  margin: auto;
  display: block;
  background: #fcfcfc;
  border-radius: 1em;
  box-shadow: 0 4px 10px 0 rgb(189 208 223 / 25%);
  padding: 1em 2em;
  margin: 1em;
  width: 80%;
  display: grid;
  grid-template-columns: 65% auto;
  grid-template-areas: 'info' 'options';
}

.acceptedOffer:hover {
  position: inherit;
  transform: scale(1.05);
  box-shadow: 0 4px 10px 0 #602eea91;
}

.companyAccepted {
  background: #dffff6;
}

.companyRejected {
  background: #ffd7d7;
}

.options {
  display: grid;
}
.seeOffer {
  position: inherit;
  z-index: inherit;
  margin-left: 39%;
  margin-top: 0.5em;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.75px;
  color: #4e4b66;
}
.seeOffer:hover {
  color: #8867e2;
  cursor: pointer;
}
.logo {
  border-radius: 50px;
  width: 2.7em;
  height: 2.7em;
  margin-right: 0.5em;
}
.name {
  font-weight: 600;
  font-size: 18px;
  line-height: 2.5em;
  letter-spacing: 0.75px;
  color: #5f2eea;
}
.logoname {
  display: flex;
}

.title {
  font-weight: 500;
  font-size: 16px;
  line-height: 2em;
  letter-spacing: 0.75px;
  color: #4e4b66;
}
.position {
  font-weight: 400;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 0.75px;
  color: #4e4b66;
}

.iconBlock {
  position: inherit;
  z-index: inherit;
  margin-top: 1em;
  margin-left: 4.5em;
  width: 35%;
  display: inline-flex;
  justify-content: flex-end;
}
.icon {
  position: inherit;
  font-size: 1.2em;
  color: #5f2eea;
  margin-right: 1.5em;
  z-index: inherit;
}
.icon:hover {
  transform: scale(1.1);
  color: #8867e2;
  cursor: pointer;
}
.delete {
  font-size: 1.2em;
  color: #5f2eea;
  position: inherit;
  z-index: inherit;
}
.delete:hover {
  transform: scale(1.1);
  color: #e40000;
  cursor: pointer;
}

.modal {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(38, 35, 41, 0.692);
}

.seeOfferModal {
  position: relative;
  z-index: 0;
  margin: auto;
  margin-top: 5vh;
  width: 50%;
  height: 85vh;
  overflow: scroll;
  overflow-x: hidden;
  background: #fcfcfc;
  border-radius: 15px;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
}
