
.container {
    display: flex;
}

.profile{
    color: blue;
}
.size{
    color: grey;
}

img{
    margin-top: 25%;
    margin-left: 10%;
}

.title{
    margin-left: 5%;
    font-size: 16px;
}

.container > div> p {
    font-size: 13px
}








