.button_accept {
    background-color: white;
    color: rgb(3, 148, 3);
    font-size: 13px;
    padding-left: 5px;
    width: 55px;
    height: 60px;
    
}

.thumbs_up {
    font-size: 30px;
    margin-bottom: -15px;
    padding-left: 5px;
    
}

.button_accept:hover {
    color: rgb(22, 107, 1);
}