.wholeThing {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 500;
}

.overlay {
  width: 100%;
  height: 100%;
  background: #1a1a1d;
  opacity: 0.5;
}

.modalBody {
  position: absolute;
  width: 40vw;
  min-height: 30vh;
  max-height: 80vh;
  opacity: 1;
  background: #fcfcfc;
  border-radius: 1em;
  box-shadow: 0 4px 10px 0 rgb(189 208 223 / 25%);
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 50ms;
}

@media (max-width: 700px) {
  .modalBody {
    width: 90vw;
  }
}

.closeButton {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}
