.buttonsBar {
  margin: auto;
  margin-bottom: 10px;
  width: 60%;
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  border-radius: 20px;
}

.accept {
  position: relative;
  display: flex;
  color: #4e4b66;
  background: #34eab9;
  box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.06);
  border-radius: 12px;
  font-size: 18px;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  cursor: pointer;
}

.accept:hover {
  transform: scale(1.03);
  background: #95f0d7;
}

.reject {
  position: relative;
  color: #4e4b66;
  background: #ff84b7;
  display: flex;
  box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.06);
  border-radius: 12px;
  font-size: 18px;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  cursor: pointer;
}

.reject:hover {
  transform: scale(1.03);
  background: #f392ba;
}

.snooze {
  position: relative;
  display: flex;
  color: #4e4b66;
  background: #ffd789;
  box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.06);
  border-radius: 12px;
  font-size: 18px;
  height: 2.5em;
  padding-left: 1em;
  padding-right: 1em;
  align-items: center;
  cursor: pointer;
}

.snooze:hover {
  transform: scale(1.03);
  background: #f8da9e;
}

@media (max-width: 600px) {
  .accept {
    transform: scale(0.8);
  }
}
@media (max-width: 600px) {
  .reject {
    transform: scale(0.8);
  }
}
@media (max-width: 600px) {
  .snooze {
    transform: scale(0.8);
  }
}
