.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6em 3em;
}

.halfLogoContainer {
  padding: 0;
  height: 8em;
  margin-bottom: 2em;
}

.halfLogo {
  height: inherit;
  width: inherit;
}

.pageText {
  font-size: 1.2em;
  text-align: center;
}

.here {
  font-size: 1.2em;
  text-align: center;
  font-weight: 600;
  color: #2a00a2;
  margin-top: -1em;
  cursor: pointer;
}
.here:hover {
  transform: scale(1.1);
}
