.navbar {
  position: absolute;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  height: 40px;
  top: 0px;
  width: 100%;
  background: #fcfcfc;
  mix-blend-mode: normal;
  box-shadow: 0 4px 10px 0 rgb(189 208 223 / 25%);
  display: flex;
}

.logo {
  position: relative;
  height: 45px;
  width: 270px;
  margin-left: 10%;
  top: -5px;
  left: 0;
}
