.Tag {
  background-color: blanchedalmond;
}

.Tag:hover {
  background-color: brown;
}

.Tag:active {
  background-color: darkolivegreen;
}

.skillsWithYears {
  display: flex;
  flex-direction: column;
}
