.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.offerContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 55vh;
  overflow-y: auto;
}

.title {
  font-size: 1.2em;
}

.closeButton {
  border: none;
  background: none;
  outline: none;
  border: 0.1em solid #5f2eea;
  color: #5f2eea;
  background: #fcfcfc;
  font-size: 1.5em;
  height: 2em;
  padding: 0 1em;
  cursor: pointer;
  margin: 1em 0.25em;
  border-radius: 1em;
}
