.myOffers {
  margin: auto;
  margin-bottom: 15px;
  padding-right: 7%;
  padding-bottom: 7%;
  width: 44%;
  padding-top: 2%;
  padding-left: 4%;
  background: #fcfcfc;
  box-shadow: 0 4px 10px 0 rgb(189 208 223 / 25%);
}

.text {
  position: inherit;
  margin: auto;
  width: 70%;
  color: #4e4b66;
  text-align: center;
}

.Loader {
  position: inherit;
  margin: auto;
  width: 20%;
}
