.menuButton {
  position: absolute;
  margin-top: -3px;
  right: 20%;
  color: #fcfcfc;
  background-color: #5f2eea;
  height: 48px;
  width: 48px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 50px;
  border-color: #5f2eea;
  cursor: pointer;
}

.menuButton:hover {
  color: #5f2eea;
  background-color: #fcfcfc;
  transform: scale(1.05);
}

@media (max-width: 600px) {
  .menuButton {
    right: 5%;
    top: 15%;
    height: 35px;
    width: 35px;
  }
}

.tip {
  width: 15px;
  height: 15px;
  background: #d9dbe9;
  position: absolute;
  z-index: 0;
  top: -0.4em;
  left: 2.2em;
  transform: rotate(45deg);
}

.menuContent {
  z-index: 1;
  padding: 2%;
  position: absolute;
  min-height: 110%;
  right: 15.8%;
  top: 4em;
  background: #d9dbe9;
  border-radius: 16px;
  color: #2a00a2;
  font-size: 18px;
  letter-spacing: 0.75px;
  margin: 0px 8px;
}

@media (max-width: 600px) {
  .menuContent {
    right: -1.5%;
    top: 3em;
  }
}

.Link {
  position: relative;
  color: #2a00a2;
  font-size: 18px;
  text-decoration: none;
  display: grid;
  text-align: center;
}

.Link:hover {
  transform: scale(1.05);
}
